input[type=text], textarea{
    width: 100%;
    font-size: 15px;

}

select{
    color:white;
    background-color: chartreuse;
    font-size: 15px;
}


input[type=submit]{
    background-color: darkgreen;
    color: white;
}

body{
    background-color: beige;
}
